<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VSTDA</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <!-- inject:css -->
  <link rel="stylesheet" href="/app/styles/styles.css">
  <!-- endinject -->
</head>
<!-- sets the controller -->
<body ng-controller="VstdaController as vm">

  <div class="jumbotron">
    <h1 class="display-3">FULL STACK TO DO APP</h1>
    <p class="lead">Because you have stuff to do.</p>
    <hr class="my-4">
    <p>(Except for being awesome. You have that covered.)</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form class="form-horizontal" ng-submit="vm.addTodo(todo)">
          <div class="form-group">

            <!-- input box -->
            <label for="input">What to do?</label>
            <input type="text" class="form-control" id="todoitem" placeholder="To Do" ng-model="todo.ToDoText">

            <!-- select menu -->
            <label for="selectmenu">What's the priority level?</label>
            <select class="form-control" ng-model="todo.SetPriority">
           <option value="1">High</option>
           <option value="2">Medium</option>
           <option value="3">Low</option>
       </select>

            <!-- This button has a click event that connects with the function in the controller that creates the array. -->
            <button type="submit" id="bigbutton" class="btn btn-primary btn-lg" ng-click="vm.postList">Stuff To Be Done</button>

        </form>
        </div> 
      </div>  <!-- end of 1st colmun div -->

      <div class="col-md-8">
        <div class="row">

          <div id="buttons" class="btn-group btn-group-lg" role="group">
            <!-- Each of these buttons creates a click event that sorts the list items -->
            <button type="button" class="btn btn-primary" ng-click="sort = 'priority'">Highest Priority First</button>
            <button type="button" class="btn btn-primary" ng-click="sort = '-priority'">Lowest Priority First</button>
            <button type="button" class="btn btn-primary" ng-click="sort = 'sortType'">Sort Alphabetically</button>
          </div>
          <div class="row">
            <ul> Do this stuff:
              <li ng-repeat="data in vm.toDoArray | orderBy: sort" ng-class="::{'High': todo.SetPriority==1, 'Medium': todo.SetPriority==2,
              'Low': todo.SetPriority==3}">{{data.toDo}}</li>
            </ul>
          </div>
          
          </div> <!-- end of second col, row div -->
        </div> <!-- end of second col div -->

    </div>  <!-- end of main row div -->
  </div>   <!-- end of main container div -->

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/app/app.js"></script>
  <script src="/app/vstda.controller.js"></script>
  <script src="/app/vstda.Factory.js"></script>
  <!-- endinject -->
</body>
</html>