body {
  font-family: 'Droid Serif', serif;
  
}

.jumbotron {
  text-align: center;
}

.High {
  background-color: #d9534f;
}

.Medium {
  background-color: #5bc0de;
}

.Low {
  background-color: #5cb85c;
}

#bigbutton {
  margin-top: 15px;
  text-align: center;
}

*#buttons {
  
  margin-left: 30px;
  margin-bottom: 10px;
}

#todoitem {
  margin-bottom: 5px;
}



li {
  list-style-type: none;
  margin-left: 10px;
}


